@model X.PagedList.IPagedList
<div class="pager">
    @if (!Model.IsFirstPage)
    {
        <div class="prev">
            @if (@Model.PageNumber - 1 > 1)
            {
                <a asp-route-pageNumber="1" class="button"><i class="fas fa-chevron-left"></i><i class="fas fa-chevron-left"></i></a>
            }
            <a asp-route-pageNumber="@(Model.PageNumber - 1)" class="button"><i class="fas fa-chevron-left"></i> Předchozí</a>
        </div>
    }
    @if (Model.HasNextPage)
    {
        <div class="next">
            <a asp-route-pageNumber="@(Model.PageNumber + 1)" class="button">Následující <i class="fas fa-chevron-right"></i></a>
            @if (Model.PageNumber + 1 < Model.PageCount)
            {
                <a asp-route-pageNumber="@Model.PageCount" class="button"><i class="fas fa-chevron-right"></i><i class="fas fa-chevron-right"></i></a>
            }
        </div>
    }
    <p>Strana @Model.PageNumber z @Model.PageCount, celkem @Model.TotalItemCount položek.</p>
</div>